<html>
  <head>
    <title>Rpi IoT</title>
  </head>
  <body>
  <h1>LED controller</h1>
  <h3>Click here:</h3>
  <br>
  <a href=\A><button>ON - Red color</button></a>
  <a href=\a><button>ON - Green color</button></a>
  <a href=\B><button>ON - Blue color</button></a>
  <a href=\b><button>ON - Violet / Blue color wipe</button></a>
  <a href=\C><button> ---- </button></a>
  <a href=\c><button>OFF</button></a>
  <br><br>
  <a href=\bright25><button>25%</button></a><br>
  <a href=\bright50><button>50%</button></a><br>
  <a href=\bright75><button>75%</button></a><br>
  <a href=\bright100><button>100%</button></a><br>
  <br><br>
  <input type="range" value="24" min="0" max="255" oninput="document.getElementById('test').href = '\\bri\\'+this.value; ">
  <a href="" id="test"><button>Change brightness</button></a><br>
  </body>
</html>